body {
    background-color: #d6a4d4; /* your pink background */
    font-family: Arial;
}

h1 {
    background-color: #3f66cc; /* blue header */
    color: white;
    padding: 20px;
}

h2 {
    color: #3f66cc;
}

img {
    width: 200px;
    margin: 10px;
}
